/* Base styles */
body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
}

/* Container */
.container {
    max-width: 900px;
    margin-top: 30px;
    padding: 20px;
    background-color: #121212;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 30px;
    color:#952aff;
}

/* Form */
.form-group {
    margin-bottom: 1rem;
}

.btn-custom {
    background-color:#952aff;
    color: #FFFFFF;
    border: none;
    transition: transform 0.2s;
    outline-color: #952aff;
    border-color: #952aff;
}

.btn-custom:hover {
    color: #FFFFFF;
    transform: scale(1.1);
}

/* Table */
.table {
    margin-top: 20px;
    background-color: #252525;
}

.table th, .table td {
    text-align: center;
    color: #FFFFFF;
}

.table thead {
    background-color:#952aff
;
}

.table tbody tr:nth-child(even) {
    background-color: #2A2A2A;
}

.table tbody tr:nth-child(odd) {
    background-color: #1F1F1F;
}

/* Input and select */
.form-control, .custom-select {
    background-color: #1E1E1E;
    color: #FFFFFF;
    border: 1px solid #952aff
}

.form-control:focus, .custom-select:focus {
    outline: none;
    border-color:#952aff
;
    box-shadow: 0 0 0 0.2rem rgba(45, 155, 173, 0.25);
}

/* Gantt Chart */
#ganttChart {
    margin-top: 30px;
}

/* Option */
.custom-select option {
    background-color: #1E1E1E;
    color: #FFFFFF;
}
/* .btn-custom {
    background-color: #2D9BAD;
    color: white;
}
.btn-custom:hover {
    background-color: #1d6e6f;
} */
.delete-btn {
    /* color: #dc3545; */
    border: none;
    background: none;
    cursor: pointer;
    color: #952aff;
    
 

}
.delete-btn:hover{
    color:white;
}
.btn-group {
    display: flex;
    gap: 10px; /* Space between buttons */
}

/* Button customization */
.btn-custom {
    background-color: #952aff;
    color: #FFFFFF;
    border: none;
    transition: transform 0.2s;
    margin-right: 10px; /* Add margin for spacing */
}

.btn-custom:hover {
    color: #FFFFFF;
    transform: scale(1.1);
}
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    border-radius: 100%;
    text-decoration: none;
    font-size: 20px;
    background-color:#952aff;
    color:black;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* transition: background-color 0.2s, transform 0.2s; */
}
.back-btn:hover{
    background-color:#952aff;
    color:white;
}

